@model IEnumerable<RunningTracker.Models.DataEntryModels.DataEntryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Your Running Entries!</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="DataEntryViewModels" asp-action="Index">
    <p>
        Search Date: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeartrateAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeartrateMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeartrateMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steps)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeartrateAvg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeartrateMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeartrateMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steps)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
